@font-face {
  font-family: "SDGlitch";
  src: local("SDGlitch"),
    url("../public/assets/fonts/SDGlitch.otf") format("opentype");
  font-weight: contours;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
