.header {
    position: sticky;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 1), rgba(0,0,0,0.8),rgba(0,0,0,0.7), rgba(0,0,0,0.6),rgba(0, 0, 0, 0.4), rgba(0,0,0,0));
    padding: 10px;
   
  }

.el {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.el img {
  height: 10vh;
  fill: white;
}

  
  .btn {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }

  .btn button {
    font-family: "Cascadia Code";
    color: white;
    background: none;
    border: solid white 1px;
    border-radius: 1px;
    padding: 8px;


  }