
.skills {
  padding-left: 40px;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profil .portrait {
  height: 50vh;
  border: solid black 2px;
  border-radius: 50%; 
}



.active {
  height: 6vh;
  width: 15vh;
  margin: 0;

  color: #fff;
  font-size: 3.5vh;
  font-weight: 800;

  background: black;
  border: none;
  transition: left 0.5s ease-in-out;

}

.inactive {
  height: 6vh;
  width: 13vh;
  margin: 0;

  color: black;
  font-size: 2vh;
  font-weight: 500;

  background: none;
  border: solid black 2px;
  transition: left 0.5s ease-in-out;
}

.toggleLine {
  width:100%;
  position: relative;
}

.toggleHandle {
  width: 1vh;
  height: 1vh;
  border-radius: 50%;

  background-color: black;

  position: absolute;
  transform: translateY(-150%);
  transition: left 0.3s ease-in-out;
}

.left{
  left: 5vw;
}

.right{
  left: calc(100% - 50px);
}

.modalContainer{
  height: 80vh;
  width: 100vh;

  background-color:#000000;
  margin-left: 20px;
  box-shadow: 0 0 0 0.75px #222, /* outer border */
              0 0 0 1.5px #333, /* inner border */
              0 0 0 2.25px #444, /* shadow */
              0 0 0 3px #555, /* shadow */
              0 0 0 3.75px #666; /* shadow */  
}
.modalHeader {
  height: 8vh;
  background-color: #000;
  border-bottom: solid white
}

.modalHeaderBtn{
  height: 100%;
  margin-left: 2vh;
  margin-right: 2vh;

  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalBtn {
  font-family: 'Cascadia Code';
  color: white;

  border: solid white 1px;
  background-color: #000000;
  padding: 1vh;
}

.modalView {
  height: 72vh;
  width: auto;
  overflow-y: auto;
}

.modalView::-webkit-scrollbar {
  width: 20px;
  background-color: #000; /* black background */
}

.modalView::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* white thumb */
  border: 1px solid #fff; /* white border */
}

.modalView::-webkit-scrollbar-track {
  background-color: #000; /* black track */
}

.modalContent {
  padding:0
}

.CV{
  width: 100%;
  height: auto;
}

